{% extends 'layout.html.twig' %}

{% block page_title %}
    {{ 'profile.update.title'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container ">
        <div class="row">
            {# Affichage formulaire #}
            <div class="col-lg-5 features_col">

                <h2> {{ 'profile.update.title'|trans }} </h2>

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% if form is defined %}
                    {{ form_start(form) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}

                        {{ form_row(form.addresses) }}

                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.password_confirm) }}
                    {{ form_end(form) }}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block final_javascripts %}

{% endblock %}

