{% extends 'layout.html.twig' %}

{% trans_default_domain 'profile' %}

{% block page_title %}
    {{ 'profile.auth.title'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="container ">
    <div class="row features_col">
        {# Affichage formulaire #}
        <div class="offset-4"></div>
        <div class="col-lg-4">

            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}

            <h2>{{ 'profile.auth.title'|trans }}</h2>

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% if error %}
                <div class="alert alert-danger"> {{ error.messageKey|trans(error.messageData, 'security') }} </div>
            {% endif %}

            {{ form(form) }}

            <a class="badge badge-secondary" href="{{ path('profile_password_forget') }}">Mot de passe oublié</a>

        </div>
    </div>
</div>

{% endblock %}

{% block final_javascripts %}

{% endblock %}

