{% extends "admin/layout.html.twig" %}

{% trans_default_domain 'admin' %}

{% block title %}
Accueil Room Option
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                {% for message in app.flashes('success')  %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error')  %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="c-grey-900 mT-10 mB-30">{{ 'admin.titles.roomsOption-list'|trans }}</h4>
            </div>
            <div class="col-md-6 text-sm-right">
                <a href="{{ path('room_option_add') }}" class="btn btn-success">
                    <i class="pr-2 ti-plus"></i>{{ 'admin.roomOptions.btn.add'|trans }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="bgc-white bd bdrs-3 p-20">

                    <table id="dataTable" class="table table-striped table-hover table-bordered dataTable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Description</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Type de pièce</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for roomOption in roomOptions  %}
                            <tr>
                                <td>{{ roomOption.id }}</td>
                                <td>{{ roomOption.label }}</td>
                                <td>{{ roomOption.description }}</td>
                                <td>{{ roomOption.price | price(2, ',', ' ') }}</td>
                                <td>
                                    {{ roomOption.rtlabel }}
                                </td>
                                <td>
                                    <a href="{{ path('room_option_show',{ 'id': roomOption.id}) }}" class="btn btn-info">
                                        <i class="pr-2 ti-eye"></i>Info</a>
                                    <a href="{{ path('room_option_edit',{ 'id': roomOption.id}) }}" class="btn btn-success">
                                        <i class="pr-2 ti-pencil"></i>
                                        Editer</a>
                                    <a href="{{ path('room_option_delete',{ 'id': roomOption.id}) }}" class="btn btn-danger">
                                        <i class="pr-2 ti-trash"></i>
                                        Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block final_javascripts %}

{% endblock %}