{% extends 'admin/layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}
    {{ 'admin.titles.new-account'|trans }}
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <h6 class="c-grey-900">{{ 'admin.titles.new-account'|trans }}</h6>
                <div class="mT-30">
                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.lastName) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.password) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.role) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}