{% extends 'admin/base.html.twig' %}

{% trans_default_domain 'admin' %}

{% block title %}
    {{ 'admin.titles.signin'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/styles/signin.css') }}">
{% endblock %}


{% block body %}
    <div class="container ">
        <div class="row justify-content-md-center">
            {# Affichage formulaire #}
            <div class="col-md-4 text-center">
                {% for message in app.flashes('notice') %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
                <h1 class="h3 mb-3 font-weight-normal">{{ 'admin.titles.signin'|trans }}</h1>
                {# Error display#}
                {% if error %}
                    <div> {{ error.messageKey|trans(error.messageData, 'security') }} </div>
                {% endif %}

                {# E-mail widget #}
                {{ form_errors(form.email) }}
                {{ form_label(form.email, 'E-mail', {'label_attr': {'class': 'sr-only'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'autofocus': 'autofocus'}}) }}

                {# Password widget #}
                {{ form_errors(form.password) }}
                {{ form_label(form.password, 'Password', {'label_attr': {'class': 'sr-only'}}) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}

                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-lg btn-primary btn-block'}}) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

