{% extends 'layout.html.twig' %}

{% block page_title %}
    Admin login
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container ">
        <div class="row">
            {# Affichage formulaire #}
            <div class="col-lg-12 features_col">
                <h1>Administration DreamTeamCoWorking</h1>

                {# Affichage message flash success #}
                {% for message in app.flashes('success') %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            {# Si authentifié affichage bouton déconnexion #}
            {% if (is_granted('IS_AUTHENTICATED_FULLY')) %}
                <a class="btn btn-danger" href="{{ path('admin_logout') }}">Sign out</a>
            {% else %}
                <a class="btn btn-danger" href="{{ path('admin_login') }}">Sign in</a>
            {% endif %}

            {# uniquement l'admin peut créer des compte#}
            {% if (is_granted('ROLE_ADMIN')) %}
                <a class="btn btn-primary" href="{{ path('admin_add_employee') }}">Create account</a>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block final_javascripts %}

{% endblock %}

