{% trans_default_domain 'admin' %}

<!-- #Left Sidebar ==================== -->
<div class="sidebar">
    <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="{{ path('admin_index') }}">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo">
                                    <img src="{{ asset('static/images/logo.png') }}" alt="">
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text">DreamTeamCoworking</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="" class="td-n">
                            <i class="ti-arrow-circle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ### $Sidebar Menu ### -->
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active">
                <a class="sidebar-link" href="{{ path('admin_index') }}">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                    <span class="title">{{ 'admin.links.dashboard'|trans }}</span>
                </a>
            </li>

            {% if (is_granted('ROLE_ADMIN')) %}
                <li class="nav-item">
                    <a class='sidebar-link' href="{{ path('admin_employee_list') }}">
                    <span class="icon-holder">
                      <i class="c-orange-500 ti-user"></i>
                    </span>
                        <span class="title">{{ 'admin.links.accounts'|trans }}</span>
                    </a>
                </li>
            {% endif %}

            {% if (is_granted('ROLE_ADMIN')) %}
                <li class="nav-item">
                    <a class='sidebar-link' href="{{ path('admin_customer_list') }}">
                    <span class="icon-holder">
                      <i class="c-orange-500 ti-user"></i>
                    </span>
                        <span class="title">{{ 'admin.links.customers'|trans }}</span>
                    </a>
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                 <span class="icon-holder">
                          <i class="c-light-blue-500 ti-package"></i>
                        </span>
                    <span class="title">{{ 'admin.links.manage_room_and_option'|trans }}</span>
                    <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                    <li >
                        <a class='sidebar-link' href="{{ path('room_index') }}">
                        <span class="icon-holder">
                          <i class="c-light-blue-500 ti-package"></i>
                        </span>
                        <span class="title">{{ 'admin.links.manage_room'|trans }}</span>
                        </a>
                    </li>
                    <li >
                        <a class='sidebar-link' href="{{ path('room_option_index') }}">
                        <span class="icon-holder">
                          <i class="c-light-blue-500 ti-package"></i>
                        </span>
                            <span class="title">{{ 'admin.links.manage_room_option'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>