{% extends 'layout.html.twig' %}

{% trans_default_domain 'booking' %}

{% block page_title %}
    {{ 'booking.title.index'|trans }}
{% endblock %}

{% block content %}
<div class="features">
    <div class="container-fluid">
        <div class="row bg-light">
            <div class="col-md-4 features_col">

            </div>
            <div class="col-md-8 features_col">
                {# --CALENDAR-- #}
            </div>
        </div>
        <div class="row bg-light">
            <div class="col-md-4 features_col">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {% for key, value in data %}
                        <a class="nav-link {% if loop.first %} {{ 'active' }} {% endif %}"
                           id="v-pills-{{ key }}-tab"
                           data-toggle="pill"
                           href="#v-pills-{{ key }}"
                           role="tab"
                           aria-controls="v-pills-{{ key }}"
                           aria-selected="{% if loop.first %} {{ 'true' }} {% else %} {{ 'false' }} {% endif %}">{{ value['roomType'].label }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 features_col">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for key, value in data %}
                        <div class="tab-pane fade {% if loop.first %} {{ 'show active' }} {% endif %}" id="v-pills-{{ key }}" role="tabpanel" aria-labelledby="v-pills-{{ key }}-tab">
                            <div class="nav flex-column nav-pills {% if loop.first %} {{ 'active' }} {% endif %}" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                {% for room in value['rooms'] %}
                                    <a class="nav-link"
                                       id="v-pills-{{ key }}-{{ room.id }}-tab"
                                       data-toggle="pill"
                                       href="#v-pills-{{ key }}-{{ room.id }}"
                                       role="tab"
                                       aria-controls="v-pills-{{ key }}-{{ room.id }}"
                                       aria-selected="{% if loop.first %} {{ 'true' }} {% else %} {{ 'false' }} {% endif %}">{{ room.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 features_col">
                <div class="tab-content" id="v-pills-tabContent">
                    {% for key, value in data %}
                        {% for room in value['rooms'] %}
                            <div class="tab-pane fade" id="v-pills-{{ key }}-{{ room.id }}" role="tabpanel" aria-labelledby="v-pills-{{ key }}-{{ room.id }}-tab">
                                {{ room.name }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


