{% extends 'layout.html.twig' %}

{% trans_default_domain 'booking' %}

{% block page_title %}
    {{ 'booking.titles.index'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" integrity="sha256-Tu3DN+5kwrhzlzhNUMuGht2h7cR6ARgKcYemB9u5SzA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('css/loader.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid features_col ">
        <div class="row pt-4">
            <div class="col-md-5">
                {# --CALENDAR-- #}
                <div id="calendar"></div>
            </div>
            <div class="col-md-7">
                {# --LOADER-- #}
                <div class="loader" style="display:none;"></div>
                {#<div class="container">#}
                    <div class="row">
                        <div class="col-md-12">

                            {# --NAV-- #}
                            <ul class="nav nav-pills mb-2" id="h-tabs-tab" role="tablist">
                                {% for key, value in data %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if loop.first %} {{ 'active' }} {% endif %}"
                                           id="h-tabs-{{ key }}-tab"
                                           data-toggle="tab"
                                           data-type="{{ key }}"
                                           href="#h-tabs-{{ key }}"
                                           role="tab"
                                           aria-controls="h-tabs-{{ key }}"
                                           aria-selected="{% if loop.first %} {{ 'true' }} {% else %} {{ 'false' }} {% endif %}">{{ value['roomType'].label }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="room-list" class="row">
                        <div class="col-md-12">
                            <div class="tab-content" id="h-tabs-tabContent">
                                {% for key, value in data %}
                                    <div class="tab-pane fade {% if loop.first %} {{ 'show active' }} {% endif %}" id="h-tabs-{{ key }}" role="tabpanel" aria-labelledby="h-tabs-{{ key }}-tab">
                                        {% for room in value['rooms'] %}
                                            {# --CARDS-- #}
                                            <div class="card m-2 float-lg-left" data-id="{{ room.id }}">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <h3>{{ room.name }}</h3>
                                                        </div>
                                                        <div class="col-sm-4 text-sm-right">
                                                            {% if room.featuredImage %}
                                                                <a href="#" data-toggle="modal" data-target="#imageModal{{ room.id }}"><i class="fas fa-eye"></i></a>
                                                                <!-- Modal -->
                                                                <div class="modal fade" id="imageModal{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel{{ room.id }}" aria-hidden="true">
                                                                    <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h5 class="modal-title" id="imageModalLabel{{ room.id }}">{{ room.name }}</h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <img src="{{ asset(getAssetsDir() ~ room.featuredImage) }}" alt="{{ room.name }}">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            {{ room.description }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="offset-6"></div>
                                                        <div class="col-sm-6 text-sm-right text-white">
                                                            <span class="bg-primary px-2">{{ room.capacity }} <i class="fas fa-users"></i></span>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="btn btn-primary btn-block mt-2">{{ 'booking.btn.book'|trans }}</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {#</div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('build/js/app.js') }}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" integrity="sha256-59IZ5dbLyByZgSsRE3Z0TjDuX7e1AiqW5bZ8Bg50dsU=" crossorigin="anonymous"></script>
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" integrity="sha256-QvhPq+evNjd8JyxSOU5KL3jPYTD7+gWVev1OH763SL0=" crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js" integrity="sha256-uKe4jCg18Q60qLNG8dIei2y3ZVhcHADuEQFlpQ/hBRY=" crossorigin="anonymous"></script>
{% endblock %}

{% block final_javascripts %}
    <script>
        $(function() {

            let startDate;
            let endDate;

            let root = $('#h-tabs-tabContent');
            let assetsDir = '{{ asset(getAssetsDir()) }}';
            let bookingBtnLabel = '{{ 'booking.btn.book'|trans }}';
            let $loader = $('.loader');

            let displayRooms = function(type, rooms, active) {

                // header prototype
                let header = '<div class="tab-pane fade __SHOWACTIVE__" id="h-tabs-__KEY__" role="tabpanel" aria-labelledby="h-tabs-__KEY__-tab">';

                if(active) {
                    header = header.replace(/__SHOWACTIVE__/g, 'show active');
                } else {
                    header = header.replace(/__SHOWACTIVE__/g, '');
                }

                header = header.replace(/__KEY__/g, type);
                let key = 'h-tabs-' + type;

                // footer prototype
                let footer = '</div>';

                // append header to root
                root.append($(header));

                // for each rooms, create a card
                rooms.forEach(function(room) {
                    // body
                    let body = '<div class="card m-2 float-lg-left" data-id="' + room.id + '"><div class="card-body"><div class="row"><div class="col-sm-8"><h3>' + room.name + '</h3></div><div class="col-sm-4 text-sm-right">';
                    if (room.featuredImage) {
                        body += '<a href="#" data-toggle="modal" data-target="#imageModal' + room.id + '"><i class="fas fa-eye"></i></a><div class="modal fade" id="imageModal' + room.id + '" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel' + room.id + '" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="imageModalLabel' + room.id + '">' + room.name + '</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><img src="' + assetsDir + room.featuredImage + '" alt="' + room.name + '"></div></div></div></div>';
                    }
                    body += '</div></div><div class="row"><div class="col-sm-12">' + room.description + '</div></div><div class="row"><div class="offset-6"></div><div class="col-sm-6 text-sm-right text-white"><span class="bg-primary px-2">' + room.capacity + ' <i class="fas fa-users"></i></span></div></div><a href="#" class="btn btn-primary btn-block mt-2">' + bookingBtnLabel + '</a></div></div>';

                    // append body to header
                    $('#' + key).append($(body));
                });

                // append footer to root
                root.append($(footer));
            };

            let filterRooms = function(type, start, end) {
                // ajax call to booking/filter/
                $.ajax({
                    url: '{{ path('booking_filter') }}',
                    method: 'GET',
                    data: {
                        'type': type,
                        'startDate': start,
                        'endDate': end
                    },
                    success: function(data) {
                        // console.log('--FILTER-SUCCESS--');
                        // console.log(data);
                        let types = JSON.parse(data['rooms']);
                        // console.log(types);

                        // // clear root
                        // root.empty();

                        for(let key in types) {
                            let rooms = types[key];
                            // detect if tab is active
                            let active = $("#h-tabs-" + key + "-tab").hasClass("active");
                            displayRooms(key, rooms, active);
                        }

                        // $loader.addClass('fadeOut');
                        // $loader.hide();
                        $loader.fadeOut('fast', () => {
                            setClickCallback(bookingClick);
                            enableBtn();
                        });
                        // setClickCallback(bookingClick);
                        // enableBtn();
                    }
                });
            };

            let bookingClick = function(event) {
                let card = $(event.target).closest('div.card', '#h-tabs-tabContent');
                // console.log(card);
                let id = card.data('id');
                // console.log(id);
                if(endDate == null || startDate == null) {
                    disableBtn();
                } else {
                    $.ajax({
                        url: '{{ path('booking_options') }}',
                        method: 'POST',
                        data: {
                            'roomId': id,
                            'startDate': startDate.toString(),
                            'endDate': endDate.toString()
                        },
                        success: function(data) {
                            // console.log('--BOOKING-SUCCESS--');
                            // console.log(data);
                            // let url = JSON.parse(data['url']);
                            let url = data['url'];
                            // console.log(url);
                            window.location.href = url;
                        }
                    });
                }
            };

            let setClickCallback = function(callback) {
                $('.card a.btn-primary').click(callback);
            };

            let disableBtn = function() {
                $('.card a.btn-primary').click((e) => {
                    e.preventDefault();
                    return false;
                });
                $('.card a.btn-primary').css('cursor', 'default');
                $('.card a.btn-primary').removeClass('btn-primary').addClass('btn-secondary');

            };

            let enableBtn = function() {
                $('.card a.btn-secondary').removeClass('btn-secondary').addClass('btn-primary');
                $('.card a.btn-secondary').css('cursor', 'pointer');
                setClickCallback(bookingClick);
            };

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                themeSystem:       'bootstrap4',
                defaultView: 		'agendaDay',
                locale: 			'fr',
                timezone: 			'local',
                groupByResource: 	true,
                minTime: 			'09:00:00',
                maxTime: 			'19:00:00',
                allDaySlot: 		true,
                timeFormat: 		'H:mm',
                nowIndicator: 		true,
                now: 				new Date(),
                slotLabelFormat: 	'H',
                slotDuration:       '01:00:00',
                columnHeaderFormat: 'ddd D MMM',
                monthNames: 		['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
                monthNamesShort: 	['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: 			['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: 		['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                weekends:           false,
                businessHours: {
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    dow: [ 1, 2, 3, 4, 5 ], // Monday - Wednesday

                    start: '09:00', // start time
                    end: '18:00', // end time
                },
                header: {
                    left   : 'month, agendaDay',
                    center : 'title',
                    right  : 'today prev,next',
                },
                views: {
                    agenda: {
                        // options apply to agendaWeek and agendaDay views
                    },
                    month: { // name of view
                        // other view-specific options here
                        columnHeaderFormat: 'ddd'
                    },
                    day: {
                        // options apply to basicDay and agendaDay views
                    }
                },
                buttonText:     {
                    today:    'auj',
                    month:    'mois',
                    week:     'semaine',
                    day:      'jour',
                    list:     'liste',
                },
                allDayText:     'jour',
                selectable:     true,
                unselectAuto:   false,
                selectOverlap:  false,
                selectAllow:    function(selectInfo) {
                        return !selectInfo.start.isBefore(moment()) && !selectInfo.start.isBefore(moment());
                },
                dayClick: function(date, jsEvent, view) {
                    let day = moment(date.format());
                    // console.log('--DAYCLICK--');
                    // console.log(day);
                },
                select: function(start, end) {
                    startDate = moment(start);
                    endDate = moment(end);
                    // console.log('--SELECT--');
                    // console.log(startDate);
                    // console.log(endDate);

                    // clear root
                    root.empty();
                    // show loader
                    $loader.show();
                    // setTimeout(() => {
                    //     filterRooms($('a.nav-link').attr('data-type'), start.format('YYYY-MM-DD HH:MM:SS'), end.format('YYYY-MM-DD HH:MM:SS'));
                    // }, 10000);
                    // filterRooms($('a.nav-link').attr('data-type'), start.format('YYYY-MM-DD HH:MM:SS'), end.format('YYYY-MM-DD HH:MM:SS'));
                    filterRooms($('a.nav-link').attr('data-type'), start.format(), end.format());
                }
            });

            disableBtn();
        });
    </script>
{% endblock %}