{% trans_default_domain 'navigation' %}

<!-- Header -->

<header class="header d-flex flex-row justify-content-end align-items-center">

    <!-- Logo -->
    <div class="logo_container mr-auto">
        <div class="logo">
            <a href="#"><span>D</span>DreamTeamCoworking<span>.</span></a>
        </div>
    </div>
    <!-- Main Navigation -->
    <nav class="main_nav justify-self-end">
        <ul class="nav_items">
            <li class="active"><a href="{{path('index')}}"><span>{{ 'nav.home' | trans }}</span></a></li>
            <li><a href="{{path('booking_index')}}"><span>{{ 'nav.booking' | trans }}</span></a></li>
            <li><a href="blog.html"><span>{{ 'nav.pricing' | trans }}</span></a></li>
            <li><a href="contact.html"><span>{{ 'nav.contact' | trans }}</span></a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li >
                    <a href="{{ path('profile_logout') }}">{{ 'nav.logout' | trans }} </a>
                </li>
            {% else %}
                {#<li {% if (active == 'adduser') %} class="active" {% endif %}>#}
                <li>
                    <a href="{{ path('profile_new') }}">{{ 'nav.register' | trans }} </a>
                </li>
                {#<li {% if (active == 'login') %} class="active" {% endif %}>#}
                <li>
                    <a href="{{ path('profile_login') }}">{{ 'nav.login' | trans }} </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Hamburger -->
    <div class="hamburger_container">
        <span class="hamburger_text">Menu</span>
        <span class="hamburger_icon"></span>
    </div>




</header>

<!-- Menu -->

<div class="fs_menu_overlay"></div>
<div class="fs_menu_container">
    <div class="fs_menu_shapes"><img src="{{ asset('images/menu_shapes.png') }}" alt=""></div>
    <nav class="fs_menu_nav">
        <ul class="fs_menu_list">
            <li>
                <a href="{{path('index')}}"><span><span>{{ 'nav.home' | trans |first }}</span>{{ 'nav.home' | trans }}</span></a>
            </li>
            <li>
                <a href="{{path('booking_index')}}"><span><span>{{ 'nav.booking' | trans |first }}</span>{{ 'nav.booking' | trans }}</span></a>
            </li>
            <li>
                <a href="#"><span><span>{{ 'nav.pricing' | trans |first }}</span>{{ 'nav.pricing' | trans }}</span></a>
            </li>
            <li>
                <a href="#"><span><span>{{ 'nav.contact' | trans |first }}</span>{{ 'nav.contact' | trans }}</span></a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li >
                    <a href="{{ path('profile_logout') }}"><span><span>{{ 'nav.logout' | trans |first }}</span>{{ 'nav.logout' | trans }}</span></a>
                </li>
            {% else %}
                {#<li {% if (active == 'adduser') %} class="active" {% endif %}>#}
                <li>
                    <a href="{{ path('profile_new') }}"><span><span>{{ 'nav.register' | trans |first }}</span>{{ 'nav.register' | trans }}</span> </a>
                </li>
                {#<li {% if (active == 'login') %} class="active" {% endif %}>#}
                <li>
                    <a href="{{ path('profile_login') }}"><span><span>{{ 'nav.login' | trans |first }}</span>{{ 'nav.login' | trans }}</span></a>
                </li>
            {% endif %}

        </ul>
    </nav>
    <div class="fs_social_container d-flex flex-row justify-content-end align-items-center">
        <ul class="fs_social">
            <li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
            <li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
        </ul>
    </div>
</div>