{% extends 'admin/layout.html.twig' %}

{% trans_default_domain 'admin' %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                    <h6 class="c-grey-900">{{ 'admin.titles.editAddress'|trans }}</h6>
                    {#{{ form(form) }}#}
                    {{ form_start(form) }}
                    {{ form_row(form) }}
                    <button class="btn btn-primary" type="submit">{{ 'admin.forms.btn.submit'|trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

